/* GENERAL */
html,body{
	height: 100%;
	width: 100%;
	margin:0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.flex{
	display: flex
}
.flex-row{
	flex-direction: row;
}
.flex-column{
	flex-direction: column;
}
.container{
	width: 80%;
	margin:auto;
	max-width: 1170px;
}
img{
    object-fit: contain;
    max-width: 100%;
}
section{
	background:#fff;
	padding: 18px;
	padding-top: 0;
}
span{
	color: #6D6E70;
}
/* Header */
.header{
	padding:18px;
	padding-bottom: 0;
}
.header-inner{
	background: #fff;
    box-shadow: 2px 0px 8px #ddd;
    padding: 10px;
    overflow: hidden;
    margin-top: 30px;
}
.profile{
	width: 50%;
	justify-content: flex-start;
    margin: auto 0;
}
.profile-pic{
	display: inline-block;
    float: left;
    margin-right: 20px;
    max-width: 155px;
    border-radius: 50%;
    min-width: 155px;
}
.logo{
	width: 10%;
    margin: auto 0;
	justify-content: flex-start;
}
.interest{
	width: 60%;
    margin: auto;
    text-align: center;
}
.info{
	width: 60%;
}
.info p, .info strong{
	margin: 0;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
.info h2{
	margin: 0;
    display: inline-block;
    text-align: left;
    margin-top: 12px;
    font-size: 30px;
    margin-bottom: 5px;
    color: #231f20;
}
.profile-pic img{
	min-width: 100%;
}
.social-connect>a{
	font-size: 16px;
    transition: all 0.3s ease;
    color: #000;
    margin-bottom: 3px;
}
.hax img{
	max-width: 85px;
}
.ids{
	width: 20%;
}
/* main content */

.section-title{
	width: 100%;
	background: #871e23;
    text-align: center;
    padding: 13px 0;
    box-shadow: 10px 10px 15px #D7D7D7;
}
.section-title h1{
	margin: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.1;
}
.section-container{
	padding-top:45px;
    display: table;
}
.info-box{
	position: relative;
    margin-bottom: 70px;
    box-shadow: 10px 10px 15px #D7D7D7;
    z-index: 1;
	font-size: 16px;
    color: #000;
    font-weight: 400;
    text-align: left;
    top:0;
    left:0;
    transition: 1s all;
}
.info-box h2{
	margin: 0;
    color: #231F20;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 5px;
}
.left-boxes{
	float:left;
	width: 47%;
	position: relative;
	z-index: 1;
}
.right-boxes{
	float:right;
	width: 47%;
	position: relative;
}
.info-box-title h1{
	margin: 0;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
    font-weight: 600;
    background: #871e23;
    line-height: 1.1;
}
.info-box-title .info-box-title-alt-color, section .info-box-title-alt-color{
    background: #be1e2d;
}
.info-box-content{
	padding: 15px 30px 45px 30px;
    overflow: hidden;
    background: white;
}
.info-box-inner-content{
	margin-bottom: 10px;
}
.logo-content{
	display: inline-block;
    overflow: hidden;
    float: left;
    width: 100%;
    max-width: 48px;
    align-self: flex-start;
    -webkit-margin-before: 0.83em;
}
.text-content{
    align-self: flex-start;
	width: 90%;
	display: inline-block;
    float: right;
    overflow: hidden;
    vertical-align: top;
    padding-left: 15px;
}
.text-content img{
	margin-top: 25px;
}
/*left-boxes::after {
    position: absolute;
    content: "";
    top: -46px;
    bottom: 75px;
    right: -6.5%;
    width: 1px;
    background: #871e23;
}
.left-boxes .info-box-title::before{
	position: absolute;
    content: "";
    top: 15px;
    right: -6.5%;
    width: 6.5%;
    height: 1px;
    background: #871e23;
}
.right-boxes .info-box-title::before{
	position: absolute;
    content: "";
    top: 40px;
    left: -6.5%;
    width: 6.5%;
    height: 1px;
    background: #871e23;
}*/
section.footer .left-boxes .info-box-title::before, section.footer .right-boxes .info-box-title::before, section.footer .left-boxes::after{
	display: none;
}
.footer .info-box-inner-content{
	width: 50%;
}
.footer .info-box-content{
	display: flex;
    flex-wrap: wrap;
}
.mid-line{
	z-index: -1;
	position: absolute;
    content: "";
    top: -46px;
    bottom: 75px;
    right: -6.5%;
    width: 1px;
    background: #871e23;
}
.left-line{
	z-index: -1;
	position: absolute;
    content: "";
    top: 15px;
    left: 0%;
    width: 106.5%;
    height: 1px;
    background: #871e23;
    transform-origin: top left;
    transition: 1s all;
}
.right-line{
	z-index: -1;
	position: absolute;
    content: "";
    top: 40px;
    left: 0%;
    width: 6.2%;
    height: 1px;
    background: #871e23;
    transform-origin: top left;
    transform: rotate(180deg);
    transition: 1s all;
}
@media only screen and (max-width: 1150px){
	.profile{
		flex-direction: column;
		width: 40%;
	}
	.info{
		width: 100%;
	}
	.logo{
		width: 20%;
		justify-content: center;
	}
	.ids{
		width: 40%;
	}
}
@media only screen and (max-width: 990px){
	.footer .info-box-inner-content{
		width: 100%;
	}
}
@media only screen and (max-width: 765px){

	.container{
		width: 95%;
	}
	.left-boxes, .right-boxes{
		width: 100%;
	}
	.header-inner{
		flex-direction: column;
	}
	.profile{
		order:1;
		flex-direction: row;
		width: 100%;
	}
	.interest{
		width: 100%;
	}
	.logo{
		order:0;
	}
	.interest{
		order:2;
	}
	.left-boxes::after,.left-boxes .info-box-title::before,.right-boxes .info-box-title::before {
	    display: none;
	}
	.stanford{
		margin-top: 50px;
	}
	.logo{
		width: 100%;
		justify-content: center;
	}
	.hax img{
		width: 50%;
	}

}